body {
    font-family: Arial, serif;
    background-color: #f4f4f4;
    size: 200;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
min-height: auto;  
  margin: 0px;
    background-color: #b6fad1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.image-container{
    width: 100%;
    position: relative;
    display: inline-block;
}
.Webpage2 {
    display: inline-block;
  position: absolute;
  width: 100%;
 height: auto;
  }

  .Text1{
    position: absolute;
    font-family:Chucara Next, serif;    
    font-size: 5vw;
    color: #dee1fa70;
    top: 400%;
    left: 50%;
    transform: translate(70%, 300%);
  }
.Text2{
    position: absolute;
    color: #f5defa80;
    font-family:slab, serif ;    
    font-size: 5vw;
    top: 130%;
    left: 20%;
    transform: translate(40%, 100%);

  }

  .Text3{
    position: absolute;
    font-family:slab, serif ;   
    color: #ffece3; 
    font-size: 5vw;
    top: 360%;
    left: 10%;
    max-width: 80%;
    transform: translate(20%, 100%);
  }
  .button {
    position: fixed;
    top: -50%; /* adjust the top position of the button */
  left: 90%; /* adjust the left position of the button */
  transform: translate(-50%, 500px); /* center the button */
  z-index: 2; /* set a higher z-index than the image */
  background-color: #81CB8B; /* set your desired background color */
  color: #fff; /* set your desired text color */
  border: none; /* remove button border */
  padding: 10px 20px; /* set your desired padding */
  cursor: pointer; /* change mouse cursor on hover */
  }

    .cloud1 {  
        position: absolute; 
        top: 400px; 
        left: 0px; 
        width: 45%; 
        height: 45%; 
       transform: rotate(90deg);
        animation: animate 40s linear infinite; 
    } 

    .cloud2 {  
        position: absolute; 
        top: 210%; 
        left: 0px; 
        width: 50%; 
        height: 50%; 
       transform: rotate(90deg);
        animation: animate 29s linear infinite; 
    } 


    @keyframes animate { 
        0% { 
            left: 0; 
        } 
  
        100% { 
            left: 100%; 
        } 
  
        0% { 
            left: 0; 
        } 


